.search{
    position: relative;
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search .list{
    width: 50%;
}

.search .items{
    margin-bottom: 1rem;
    padding: 2rem 3rem;
}

.search .items .title{
    font-weight: 600;
    color: purple;
    display: flex;
    align-items: center;
}

.search .items .title svg{
    width: 49px;
    height: 49px;
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .search{
        padding: 1rem .5rem;
    }
    .search .list{
        width: 90%;
    }
    .search .items{
        padding: 1rem;
    }
}