.branch {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem 4rem;
    flex-direction: column;
}

.map{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.map > div > svg path{
    fill: rgba(207, 187, 212, 1);
    stroke: #fff;
}