.footer-top{
    display: flex;
    width: 100%;
    height: auto;
    padding: 2rem 4rem;
}

.item {
    position: relative;
}

.footer-top .item:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
}

.footer-top .item:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top .item ul li:first-child{
    font-size: 1.2rem;
    color: #403C49;
    font-weight: 600;
    position: relative;
    margin-bottom: 2rem;
}

.footer-top .item ul li:first-child::after{
    content: "";
    position: absolute;
    bottom: -12px;
    background: #6F2A82;
    width: 20%;
    height: 4px;
    display: block;
    right: 0;
    border-radius: 1px;
}

.logo span {
    width: 149px !important;
}

.col-address a {
    display: block;
}

.col-address svg {
    margin: 0 0 0 10px;
}

.item .title {
    font-size: 1.2rem;
    color: #403C49;
    font-weight: 600;
    position: relative;
    margin-bottom: 2rem;
}

.item .title::after {
    content: "";
    position: absolute;
    bottom: -12px;
    background: #6F2A82;
    width: 20%;
    height: 4px;
    display: block;
    right: 0;
    border-radius: 1px;
}

.item ul li {
    margin-bottom: 1rem;
    font-size: .9rem;
}

.item .enamad span {
    width: 124px !important;
}

@media (max-width: 768px) {
    .footer-top{
        flex-direction: column;
        padding: 2rem 1rem;
    }
    .item{
        width: 100%;
        margin-bottom: 1rem;
    }
    .footer-top .item:first-child{
        padding: 0;
    }
}

