.header-row__top{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: .5rem 4rem;
}

.header-row__top .item{
    display: flex;
    align-items: center;
}

.header-row__top .logo{
    justify-content: flex-start;
}

.header-row__top .slogan{
    justify-content: center;
}

.header-row__top .slogan .title{
    text-align: center;
    color: #6F2A82;
    margin: 0;
    font-size: 1rem;
}

.header-row__top .btnLogin{
    justify-content: flex-end;
}

.header-row__top .btnLogin .search{
    background: #E2D4E6;
    border-radius: 50%;
    padding: 0.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    position: relative;
    cursor: pointer;
}

.header-row__top .btnLogin .search svg{
    display: flex;
}

.header-row__top .btnLogin .search svg path {
    stroke: #6F2A82 !important;
}

.header-row__top .btnLogin .signIn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E2D4E6;
    padding: 0.5rem;
    border-radius: 8px;
}

.header-row__top .btnLogin .signIn span{
    color: #6F2A82;
    font-size: 0.8rem;
    margin: 0 3px;
}

.search{
    display: flex;
    align-content: center;
}

.header-row__top .btnLogin .signIn a{
    display: flex;
}

.search__form{
    position: absolute;
    bottom: -5rem;
    background: #fff;
    z-index: 99;
    left: 0;
    opacity: 0;
    transform: translateY(2rem);
    transition: all .4s ease;
}

.search__form .wrapper{
    padding: 22px;
    background-color: #fff;
    box-shadow: 8px 8px 30px 0 rgb(0 0 0 / 12%);
    -webkit-box-shadow: 8px 8px 30px 0 rgb(0 0 0 / 12%);
    -moz-box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.search__form .wrapper::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    top: -5px;
    left: 1rem;
    opacity: 1;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.search__form .wrapper input{
    border-radius: 4px;
    border: 1px solid #eee;
    outline: none;
    padding-right: 10px;
}

@media (max-width: 768px) {
    .header-row__top{
        padding: 1rem .5rem;
    }
    .header-row__top .item{
        width: 33%;
    }
    .header-row__top .logo{
        width: 33%;
    }
    .header-row__top .slogan{
        width: 33%;
    }
    .header-row__top .logo span{
        width: 70px !important;
    }
    .header-row__top .slogan .title{
        font-size: .7rem;
    }
    .header-row__top .slogan .title{
        font-size: .7rem;
    }
    .header-row__top .btnLogin .signIn svg{
        width: 16px;
    }
    .header-row__top .btnLogin .search{
        width: 25px;
        height: 25px;
        margin-left: .5rem;
    }
    .header-row__top .btnLogin .signIn{
        padding: .1rem;
    }
    .header-row__top .tel svg{
        transform: scale(.7);
    }
    .header-row__top .btnLogin .signIn span{
        font-size: .5rem;
        display: none;
    }
}