.link{
    background: #6F2A82;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: .3rem 1.5rem;
}

.link span{
    display: flex;
}

.link svg path{
    fill: #fff
}