.content{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.content .title{
    font-weight: 500;
    color: #6F2A82;
    font-size: 1.2rem;
    text-align: right;
    margin: 0;
}

.content .desc{
    text-align: justify;
    line-height: 30px;
}